NODE_ENV=
PORT=
CLIENT_URL=
JWT_SECRET=
SESSION_SECRET=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
MPESA_PASSKEY=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_ENV=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_MODE=