NODE_ENV=
PORT=
CLIENT_URL=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
EMAIL_USER=
EMAIL_PASS=
HOTEL_CONTACT_EMAIL=
MPESA_PASSKEY=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_CALLBACK_URL=
USD_TO_KES_RATE=
MPESA_SHORTCODE=
MPESA_ENV=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_MODE=